*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
/*header*/
header>div{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo, nav{
	padding: 10px;
}
.logo img{
	width: 244px;
	height: 70px;
}
nav>ul{
	display: flex;
}
.nav li{
	list-style-type: none;
	position: relative;
	padding: 0 15px;
}
.nav a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 600;
}
.nav>li>a{
	text-transform: uppercase;
}
.active>a,.active>i{
 	color: blue;
 }
.sub-nav-lv1, .sub-nav-lv2{
	position: absolute;
	min-width: 220px;
	background-color: #F4F4F4;
	display: none;
	border: 1px solid #ccc;
}
.sub-nav-lv1{
	left: 0;
}
.sub-nav-lv2{
	top: 0;
	left: 100%;
}

.sub-nav-lv1 li{
	padding: 7px 10px;
	border-bottom: 1px solid black;
}
.sub-nav-lv1 li:last-child{
	border: 0;
}

.sub-nav-lv1 a{
	font-size: 14px;
}

.nav>li:hover .sub-nav-lv1{
	display: block;
}
.sub-nav-lv1>li:hover .sub-nav-lv2{
	display: block;
}

/*main left*/
main{
	width: 1200px;
	padding: 0px 30px 50px 30px;
	margin: 0 auto;
	display: flex;
}

.main-content-left{
	width: 798px;
	padding-right: 30px;
}

.main-content-left h2{
	color: #0b249e;
	font-size: 17px;
	line-height: 1.3em;
	margin: 20px 0px;
}

.main-content-left li{
	margin-left: 20px;
}

.main-ul-1{
	display: flex;
	padding: 0px 0px 15px;
	border-bottom: 1px solid #e6e6e6;
	margin: 0px 0px 20px;
}

.main-ul-1 li *{
	display: inline-block;
}

.main-ul-1 li{
	padding-bottom: 5px;
	list-style: none;
	padding: 0 10px;
}

.main-ul-1 li:first-child, .main-ul-1 li:last-child{
	padding: 0;
}

.main-ul-1 li i{
	padding-right: 10px;
}

.main-ul-1 li a{
	text-decoration: none;
}

.nut-fb{
	height: 35.6px;
}

.nut-fb>div{
	background-color: #1877F2;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	height: 20px;
	border-radius: 5px;
	display: inline-block;
}

.nut-fb a, .nut-fb a>b{
	text-decoration: none;
	color: white;
}

.nut-like{
	width: 75.5px;
}

.nut-like i{
	color: white;
}

.nut-share{
	width: 57px;
}

/*cnt 1*/
.ctn{
	padding: 10px;
}

.ctn-title{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3em;
}

.ctn p{
	margin-bottom: 20px;
}

.ctn a{
	color: black;
	text-decoration: none;
}

.ctn .last-li{
	margin-bottom: 20px;
}

.ctn .table a{
	color: black;
	text-decoration: none;
	line-height: 1.5em;
	margin-left: 15px;
}

.ctn .table{
	text-align: left;
	padding: 10px 20px;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.ctn .last-table{
	border-bottom: 1px solid #d9d9d9;
}

/*footer main*/
.main-ft-1{
	padding-top: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.main-ft-1 a{
	text-decoration: none;
	color: blue;
}

.main-ft-2{
	padding-top: 30px;
	margin-top: 30px;
}

/*main right*/
.main-content-right{
	width: 342px;
	padding: 20px 0px 0px 80px;
}

.main-content-right h4{
	padding-left: 15px;
	margin-bottom: 20px;
	border-left: 3px solid blue;
}

.main-content-right img{
	margin-bottom: 40px;
	width: 100%;
}

.main-content-right input{
	width: 262px;
	height: 40px;
	background-color: #EDEDED;
	padding: 9px;
	border-radius: 3px;
	border: 1px solid black;
	margin-bottom: 15px;
}

/*footer*/

footer a{
	display: block;
	margin: 25px 0px;
}

footer input{
	display: block;
	width: 262px;
	height: 40px;
	background-color: #EDEDED;
	padding: 9px;
	border-radius: 3px;
	border: 1px solid black;
	margin-bottom: 15px;
}