body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link{
    color: black !important;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    font-family: 'Archivo' , sans-serif;
}
header{
    justify-content: center;
}



.navbar-nav>li:hover .dropdown-menu li{
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}


/* Part 1*/
#part1 {
    padding-top: 50px;
    background-color: white;
    border: none;

}
#part1 #box-1 .part1-inner-start{
    justify-content: center;
}

#part1 #box-1 .card .row{
    justify-content: center;
    border: none;
    
}

#part1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}


/* Part2 */
#intro{
    height: 500px;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    height: 35px;
    text-align: center;
    margin: 30px 0 50px 0;
}
.intro-box{
    height: 370px;
    width: 1300px;
    display: flex;
    justify-content: center;
}


.Content-box{
    display: flex;
    justify-content: center;
}

.col-sm-2{
    border: 2px solid rgb(83, 83, 172);
    margin: 0 25px 0 25px ;
}

.Content-box {
    border: none;
}

.box-icon{
    text-align: center;
    height: 50px;
}

.col-sm-2{
    width: 305px;
    height: 240px;
    border-radius: 10px;
}

.card-content{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.box-icon i{
    font-size: 50px;
    color: #0b249e;
    line-height: 50px;
    margin-bottom: 10px;
}

h5{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.card-content p{
    text-align: center;
    margin-top: 10px;
}

.card-title{
    color: #0b249e;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none solid rgb(11, 36, 158);
    text-align: center;
}

/* Part3 */

#part3{
    padding-top: 10px;
    padding-bottom: 70px;
    justify-content: center;
    /* background-color: blueviolet; */
    background-image: linear-gradient(180deg, #0A2E9E 0%, #780BBD 100%);
}
#part3 #box-1 {
    justify-content: center;
    border: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 300px;
    /* background-color: green; */
}

#part3 .card{
    margin-right: 20px;
    border: 0.5px solid #FFFFFF;
}

#part3-inner-start{
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none solid rbg(225, 225, 255);
    color: #FFFFFF;
    margin-top: 100px;
}


#part3 .end-content h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    text-align: center; 
    color: #FFFFFF;
}
#part3 .Dangki{
    padding-top: 50px;
    justify-content: center;
    padding-left: 43%;
}

#part3 .Dangki button {
    background-color: blueviolet;
    border: 3px solid #FFFFFF;
    justify-content: center;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}

#part3 .Dangki button:hover {
    background-color: #ff7b06;
    border: 3px solid #FFFFFF;
    justify-content: center;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
}

/* Part4 */
#part4 .card-body p {
    font-family: Arial,sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 600;

}

#part4 #box-1{
    justify-content: center;
    border: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 80px; 

}


/* Part5 */
#part5 .card .row .col-md-4 .form-control{
    margin: 20px;
    margin-left: 0;
}
#part5{
    border: none;
    
}

#part5 .card .row{
    justify-content: center;
    border: none;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #2102D5;
}

#part5 .card .row .col-md-5 ul li i{
    color: yellow;
}
#part5 .card .row .col-md-5 .card-body{
    padding-top: 40px;
    
}
#part5 .card .row .col-md-5 ul li{
    color: white;
}
#part5 .card .row .col-md-4 .btn {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #EDB017;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.2px;

}
#part5 .card .row .col-md-4 .btn:hover {
    background-color: #008fca;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.2px;
}
#part5 .card .row ul li{
    padding: 6px;
}

#part5 .card .row .col-md-4 h3{
    color: #fffd09;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

#part5 .card .row .col-md-4 h6{
    font-family: Arial, sans-serif;
    font-size: 700;
    line-height: 28px;
    color: white;
    text-align: center;
    justify-content: center;
}
#part5 .card .row .col-md-4 {
    padding-left:20px;
    padding-right:20px;
}

/* Part6 */

#part6 {
    padding-top: 50px;
    background-color: rgb(230, 228, 228);

}
#part6 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    padding-right: 10px;
}
#part6 .hocphi a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    text-decoration: none;
    color: black;
}
#part6 .hocphi .menu-hp {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 27px;
    text-align: left;
}
#part6 #box-1 .card .row{
    justify-content: center;
    background-color: rgb(230, 228, 228);
}

#part6 #box-1 .card .row .col-md-3 {
    padding-left:20px;
    padding-right:20px;
}

/* Part7 */

#part7 {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    position: relative;
}
#part7 .icon-left{
    position: absolute;
    font-size: 40px;
    top: calc(181px - 20px);
    left: 40px;
}
#part7 .icon-right{
    position: absolute;
    font-size: 40px;
    top: calc(181px - 20px);
    right:  40px;
    
}
#part7 h2{
    font-family: Arial,sans-serif;
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}
#part7 .part7-wrap{
    justify-content: center;
    display: flex;
}
#part7 .part7-wrap img{
    display: inline;
}
#part7 .part7-wrap .images1 img{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
#part7 .part7-wrap .images2 img{
    margin-right: 50px;
    margin-left: 50px;
}
#part7 .part7-wrap .images3 img{
    margin-right: 50px;
    margin-left: 50px;
    height: 130px;
    width: 195px;
}
#part7 .part7-wrap .images4 img{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    height: 40px;
    width: 242px;
}

/* Part8 */


/* demo */

#part8{
    background-color: #2102D5;
}

#part8 .col .section h2 {
    font-family:Arial, sans-serif ;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
}
#part8 .col .section .wrap-widget1 li{
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    color: white;
    margin-top: 10px;

}
#part8 .col{
    color:white;
    font-family:Arial, sans-serif ;
    line-height: 24px;
    text-align: left;
}
#part8 .col .section1 h2{
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

#part8 .col .section1 li {
    color: white;
    padding: 10px 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;

}
#part8 .col .btn {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #EDB017;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.2px;
}

#part8 .col .btn:hover {
    background-color: #008fca;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.2px;
}
#part8 .col h3{
    text-align: left;
}